.menu {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.heading {
		width: 100%;
		color: #aeb4be;
		text-align: left;
		font-size: 0.8rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	.list {
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		.item {
			display: block;
			width: 100%;
			padding: 8px 12px;
			cursor: pointer;
			border-radius: 8px;

			&.active {
				div {
					color: var(--primary);
				}
				background-color: #6067ec30;
			}

			div {
				font-weight: 500;
				color: #7e8490;
				font-size: 0.95rem;
				width: 100%;
				display: flex;
				align-items: center;
				gap: 10px;
				text-transform: initial;
				transition: color 0.2s ease-in-out;
			}
			&:hover {
				div {
					color: var(--primary);
				}
			}

			// width: 90%;
		}
	}
}
