.uploadField {
	text-align: left;
	margin-bottom: 20px;
	position: relative;

	.uploadFlex {
		display: flex;
		align-items: center;
		> .uploadImageContainer {
			flex-shrink: 0;
			position: relative;
			width: 4rem;
			height: 4rem;
			img {
				object-position: center;
				object-fit: cover;
				border-radius: 50%;
				padding: 3px;
				transition: all 0.2s ease-in;
			}
			.plus {
				position: absolute;
				z-index: 5;
				top: 30%;
				left: 30%;
				font-size: 30px;
				color: var(--color-text-default);
				opacity: 0;
				transition: all 0.2s ease-in;
			}

			&:hover {
				img {
					opacity: 0.2;
					border: 3px dashed var(--color-text-default);
				}
				.plus {
					opacity: 0.5;
				}
			}
		}
	}
}

.hidden {
	opacity: 0;
	height: 0;
	width: 0;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
