.uploadField {
	text-align: left;
	margin-bottom: 20px;
	position: relative;

	.uploadFlex {
		display: flex;
		align-items: center;
		> .uploadImageContainer {
			flex-shrink: 0;
			position: relative;
			width: 4rem;
			height: 4rem;
			img {
				object-position: center;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}
}

.hidden {
	opacity: 0;
	height: 0;
	width: 0;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
