.button {
	background-color: var(--primary);
	color: #fff;
	border-radius: 0.56rem;
	transition: background-color 0.3s ease-in-out;
	padding: 6px 16px;
	font-size: 0.95rem;

	&:hover {
		background-color: #5960dd;
	}
}
