.button {
	background-color: var(--primary);
	color: #fff;
	border-radius: 0.65rem /* 10.4px */;
	transition: background-color 0.3s ease-in-out;
	padding: 5px 10px;
}

.button:hover {
	background-color: #5960dd;
}
