.header {
	z-index: 1;
	display: flex;
	position: absolute;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-background);
	.logo {
		margin-left: 8px;
	}
	.wrapper {
		position: relative;
		display: flex;
		align-items: center;
		gap: 30px;
		.button {
			background: var(--color-background);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: x-large;
			box-shadow: 0 4px 10px var(--color-box-shadow);
			padding: 6px;
			color: var(--color-text-body);
			transition: box-shadow 0.2s ease-in-out;
			width: 40px;
			height: 40px;
			&:hover {
				box-shadow: 0 4px 16px var(--color-box-shadow);
			}
		}
	}
}

.logo {
	font-size: xx-large;
	font-weight: 600;
	color: var(--color-text-default);
	> span {
		color: var(--primary);
	}
}
