.header {
	z-index: 1;
	display: flex;
	position: absolute;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	.logo {
		margin-left: 8px;
	}
}

.logo {
	font-size: xx-large;
	font-weight: 600;
	> span {
		color: var(--primary);
	}
}
