.wrapper {
	z-index: 2;
	position: absolute;
	top: 0;
	// left: 0;
	padding-right: 9px;
	height: 100vh;
	margin-right: 9px;

	.sidebar {
		position: relative;
		background-color: #fff;
		height: 100%;

		padding: 18px 26px;
		border-right: 1px solid #ccc;
		width: 233px;
		.btn-wrapper {
			position: absolute;
			top: 28px;
			right: -12px;

			.btn {
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--primary);
				font-weight: 800;
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 4px;
				background-color: #fff;
				font-size: 15px;
			}
		}
	}
}
