.wrapper {
	padding-right: 9px;
	height: 100%;
	margin-right: 9px;

	.sidebar {
		position: relative;
		background-color: #fff;
		height: 100%;

		padding: 18px 26px;
		border-right: 1px solid #ccc;
		width: 233px;
		.btn-wrapper {
			position: absolute;
			top: 32px;
			right: -9px;

			.btn {
				display: block;
				color: var(--primary);
				font-weight: 700;
				border: 1px solid #ccc;
				border-radius: 5px;
				padding: 0 4px;
				background-color: #fff;
			}
		}
	}
}
