.form-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	.form {
		background-color: var(--color-background);
		margin-top: 3rem;
		max-width: 800px;
		width: 680px;
		min-height: 452px;
		padding: 40px 30px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.fields {
			width: 100%;
			display: flex;
			align-items: center;
			min-height: 78px;
			flex-wrap: wrap;
			justify-content: space-between;

			> label {
				display: block;
				width: 44%;
				> div {
					width: 100%;
				}

				> span {
					font-size: 0.75rem;
					line-height: 1rem;
					color: var(--color-text-default);
					text-transform: uppercase;
					opacity: 0.8;
					display: block;
					margin-bottom: 0.25rem;
				}
			}
		}
		.controllers {
			width: 100%;
			display: flex;
			min-height: 97px;
			align-items: center;
			justify-content: space-between;
			gap: 60px;
			.city {
				width: 100%;
			}
			.adminBtn {
				display: block;
				color: var(--primary);
				font-weight: 600;
				font-size: 20px;
				min-width: 190px;
				text-decoration: underline;
				opacity: 0.8;
				transition: opacity 0.3s ease-in-out;
				&:hover {
					opacity: 1;
				}
			}
		}
		.updateBtn {
			align-self: flex-end;
			margin-top: 30px;
		}
	}
}
