@import '../../../assets/styles/mixins.scss';

.item {
	position: relative;
	background-color: var(--color-bg-stat-item);
	border-radius: 8px;
	padding: 0.8rem 1rem;
	padding-right: 26px;
	min-width: fit-content;
	width: 100%;
	border-left: 2px solid var(--color-background);
	border-top: 2px solid var(--color-background);
	cursor: default;
	color: var(--color-text-default);

	&::before {
		content: '';
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background: var(--color-bg-stat-before);
		left: 0;
		bottom: -5px;
		@include shadow(lg);
	}
	&.color_1::after {
		background-color: #ab8cf4;
	}
	&.color_2::after {
		background-color: #608afe;
	}
	&.color_3::after {
		background-color: #6fcfef;
	}
	&.color_4::after {
		background-color: #00cf99;
	}

	&::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 66px;
		top: 17%;
		right: 0;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		// background-color: #fff;
		box-shadow: inset 0 0 12px #0000004c;
		// z-index: 3;
	}

	.icon {
		font-size: 26px;
		opacity: 0.7;
	}
	.name {
		font-weight: 500;
		opacity: 0.6;
		font-size: 15px;
		margin-bottom: 8px;
	}
	.value {
		font-weight: 600;
		height: 25px;
	}
}
