.search {
	border: 1px solid #9a9aa4;
	color: #9a9aa4;
	border-radius: 26px;
	display: flex;
	align-items: center;
	padding: 8px 10px;
	transition: all 0.3s ease-in-out;
	// background-color: #fff;

	> svg {
		margin-right: 6px;
		font-size: 26px;
		transition: color 0.3s ease-in-out;
	}

	> input {
		display: block;
		width: 100%;
		background-color: transparent;
		color: #000;
		font-size: 18px;
		&::placeholder {
			color: #646161e0;
		}
	}
	&:focus-within {
		border-color: #66666c;

		> svg {
			color: #66666c;
		}
	}
}
